body{
    background-image: url("./images/background.jpg");
    color: white;
}

.table {
    color: white;
}

.tables_data{
    margin-top: 5%;
    margin-bottom:5%;
}

.logo{
    min-width: 40px;
    width: 40px;
    height: 40px;
}

.card-body{
    background-image: url("./images/tab-image-2.JPG");
};

.h1{
    color:white
}

a{
    color: white !important;

}
a:hover {
    font-style: bold;
    color: #0056b3;
    text-decoration: underline;
}